* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Chilanka', cursive;
    color: #565B5F;
}

h2{
    font-family: 'Chilanka', cursive;
    color: #565B5F;
    text-align: center;
    
}

h3{
    font-family: 'Niramit', sans-serif;
    color: #565B5F;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #565B5F;
    line-height: 1.5em;
}

body{
    background-color: #FEFFFE;
}

/* FONTE

font-family: 'Chilanka', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Niramit', sans-serif;

*/

/*navigationsbar*/

header {
    background-color: #FEFFFE;
    width: 100%;
    padding: 0 10px;
    font-family: 'Chilanka', cursive;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}


#logo-burger {
    display: flex;
    align-items: center;
}

#logo img {
    width: 10%;
    margin: 5%;
}

#logo,
#main-nav a {
    color: #565B5F;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: 1em;
    list-style: none;
}

#main-nav a {
    display: block;
    font-size: 1.3em;
    line-height: 1.4em;
}

#menupunkt{
    padding-right: 0.7em;
}

#main-nav a:hover {
    color: #9A9A9A;
}

#main-nav a.active {
    color: #9A9A9A;
    border-bottom: 1px solid #9A9A9A;
}


.hidden {
    display: none;
}

label {
    color: #565B5F;
}

/* FORSIDE */

#billedeforside div img {
    height: 50px;
}

#billedeforside div {
    position: absolute;
    top: 90%;
    left: 50%;
    text-align: center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}

#billedeforside div:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;

}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}



/* FOOTER */

footer {
    background-color: #86A3B1;
    padding: 2% 2% 2% 2%;
    margin-top: 12%;
 
    

}

footer p {
    color: #FEFFFE;
}

footer img {
    opacity: 0.2;
    height: 10%;
    transform: rotate(-20deg);
    position: absolute;

}








/* MOBIL  */
@media all and (max-width: 750px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
        z-index: 1;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }


}



/* TABLET */
@media all and (min-width: 750px) {

    label {
        display: none;
    }
}


/* LAPTOP+ */
@media all and (min-width: 1024px) {

    /*HEADER*/
    header {
        display: flex;
        justify-content: space-between;
   
    }

    #logo-burger {
        margin: 0;
    }

    #main-nav {
        justify-content: space-between;
        width: 100%;
    }

    #main-nav a {
        margin: 0 .5em;
        margin-top: 27px;
    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

    h2{
        font-size: 30px;
    }
    
    label {
        display: none;
    }

    /* FORSIDE */


    #billedeforside {
        height: 90vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../images/mig-plus-logo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #billedeforside h1 {
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FEFFFE;
        font-size: 45px;
        white-space: nowrap;
        position: absolute;
    }

   


    #billedeforside div img {
        height: 50px;
    }

    #billedeforside div {
        position: absolute;
        top: 90%;
        left: 50%;
        text-align: center;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

    }

    #billedeforside div:hover {
        cursor: pointer;
        animation-name: bounce;
        -moz-animation-name: bounce;

    }

    /* OVERSIGT */

    main {
        background-color: #FEFFFE;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 7%;
    
    }
    
  

    #oversigt {
        margin-top: 4%;
 
    }

    #oversigt h1 {
        text-align: center;
        margin-bottom: 5%;
    }
    
    #oversigt h2{
        margin-bottom: 4%;
        margin-top: 0;
    }

 
    .container {
        width: 50%;
        position: relative;
        cursor: pointer;
    }

    .oversigts-billeder {
        width: 50%;
        height: 58%;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        transform: scale(1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .midte {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;

    }

    .container:hover .oversigts-billeder {
        opacity: 0.5;
        transform: .2s;
        transform: scale(1.1)
    }

    .container:hover .midte {
        opacity: 1;

    }

    .midte-tekst {
        background-color: #FEFFFE;
        color: #565B5F;
        font-size: 18px;
        padding: 16px 32px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;

    }
    
    
    #pika{
        grid-area: pika;
    }
    
    #pige{
        grid-area: pige;
    }
    
    #koi{
        grid-area: koi;
    }
    
    .oversigts-grid{
        display: grid;
        grid-template-areas: 'pika pige koi';
    }
    
    #forside-footer img{
        bottom: -189%;
      position: absolute;
     
    }
    
    

/* PLAKAT SIDEN */
    .breadcrumb {
  margin: 0.5% 0 0 2%;
  list-style: none;
      
}
    
    .breadcrumb li {
  display: inline;
font-family: 'Niramit', sans-serif;
}
    
    .breadcrumb li+li:before {
  padding: 0.4%;
  color: #9A9A9A;
  content: "/\00a0";
}
    
    .breadcrumb li a {
  color: #9A9A9A;
  text-decoration: none;
}
    
    .breadcrumb li a:hover {
  color: #565B5F;
 
}
   
    .plakater{
       width: 65%;
      margin: 0 auto;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    } 
 
    #pikachu{
        grid-area: chu;
    }
    
    #ged{
        grid-area: ged;
    }
    
    #ballon{
        grid-area: ballon;
    }
    
    .oversigt-grid{
        display: grid;
        grid-template-areas: 'chu ged ballon';
margin-top: 4%;
     
    
    }
    .tape{
        width: 17%;
        position: relative;
        transform: rotate(-10deg)
    }
    
    .rotated-tape{
        width: 17%;
        position: relative;
        transform: rotate(50deg);
    }
    
    #tape1{
        bottom: 980%;
        left: 13%;
    }
    
    #tape2{
        right: 30%;
        bottom: 80%;
    }
    
    #tape3{
        right: 88%;
        bottom: 90%;
    }
    
    #tape4{
       left: 171%;
        bottom: 1085%;
    }
    
    #tape5{
        left: 171%;
        bottom: 180%;
    }
    
    #tape6{
        left: 12%;
        bottom: 1090%;
    }
    
    #plakat-footer img{
        top: 125%;
    }
    
  /* DET HAR JEG LAVET OVERSIGT */   
   
    
    .billedeoversigt{
        height: 420px;
        width: 296px;
        
    }
    
 
    #sketches{
        grid-area: sketch;
    }
    
    #posters{
        grid-area: poster;
    }
    #projects{
        grid-area: projekt; 
    }

    
.grid-container {
  display: grid;
 grid-template-areas: 'sketch poster projekt';
    justify-content: center;
    grid-gap: 5em;
 
  
}



.location-listing {
  position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
   
   
}

.location-title {
    font-family: 'Niramit', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  color: #FEFFFE;
  display: flex;
  align-items: center;
  justify-content: center;
}
    
    #oversigts-hover{
       background: rgba(134,163,177,0.4); 
    } 
    
    #oversigts-hover2{
        background: rgba(97,154,96,0.4);
    }
    
    #oversigts-hover3{
        background-color: rgba(65,115,103,0.4);
    }
    
    #oversigts-hover4{
        background-color: rgba(134,163,177,0.4);
    }
    
    #oversigts-hover5{
       background: rgba(134,163,177,0.4); 
    } 

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

    @media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
    } 
    
/* SKITSE SIDEN */


#skitser img{
    width: 100%;
}

    #lucy img{
        display: block;
        width: 100%;
        height: auto;
    }
    
#lucy{
    position: relative;
    width: 100%;
    grid-area: lucy;
}
    
    #lucy:hover .overlay{
        width: 100%;
    }    
    
    .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(134,163,177,0.4);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .4s ease;
}
    
   .text {
  color: #FEFFFE;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
       font-family: 'Quicksand', sans-serif;
} 
    
    #lucy-overlay{
        background: rgba(134,163,177,0.4);
    }  
    

#lluvia{
     position: relative;
    width: 100%;
    grid-area: lluvia;
}

    #lluvia img{
         display: block;
        width: 100%;
        height: auto;
    }
    
    #lluvia:hover .overlay{
        width: 100%;
    }  
    
    #juvia-overlay{
     background: rgba(97,154,96,0.4);
    }
    
    #miss-fortune img{
        display: block;
        width: 100%;
        height: auto;
    }
    
     #miss-fortune:hover .overlay{
        width: 100%;
    } 
    
    #mf-overlay{
       background: rgba(65,115,103,0.4);
    }
    
    #ashe img{
        display: block;
        width: 100%;
        height: auto;
    }
    
    #ashe:hover .overlay{
        width: 100%;
    }
    
#janna:hover .overlay{
        width: 100%;
    }
    
    #janna-overlay{
        background: rgba(154,154,154,0.4);
    }
    
    #pikaball:hover .overlay{
        width: 100%;
    }
    
    #pika-overlay{
        background: rgba(86,91,95,0.4);
    }
    
#ashe{
    position: relative;
    width: 100%;
    grid-area: ashe;
}
    
     #ashe-overlay{
        background: rgba(134,163,177,0.4);
    }  

#miss-fortune{ 
      position: relative;
    width: 100%;
    grid-area: mf;     
}

#janna{
    position: relative;
    width: 100%;
    grid-area: janna;
}
    
    #janna img{
        display: block;
        width: 100%;
        height: auto;
    }

#pikaball{
    position: relative;
    width: 100%;
    grid-area: pikaball;
}

    #pikaball img{
        display: block;
        width: 100%;
        height: auto;
    }

    
    #orianna{
        position: relative;
        width: 100%;
        grid-area: ori;
    }    
    
    #orianna img{
        display: block;
        width: 100%;
        height: auto;
    }
    
    #orianna:hover .overlay{
        width: 100%
    }
    
    #orianna-overlay{
        background: rgba(94,154,96,0.4);
    }

    #cupcake{
        grid-area: cup;
        position: relative;
        width: 100%;
    }
    
    #cupcake img{
        height: auto;
        width: 100%;
    }
    
    #cupcake:hover .overlay{
        width: 100%;
    }
    
    #cake-overlay{
        background: rgba(65,115,103,0.4);
    }
    
#skitser{
    display: grid;
    grid-template-areas: 'lucy lluvia mf'
        'janna pikaball ashe'
        'ori cup auto';
    grid-gap: 4em;
    position: relative;
    margin-top: 3%;
}

#skitser p{
    position: absolute;
    color: #FEFFFE;
    font-size: 13px;
}

#skitser #lucy p{
      top: 92.5%;
    left: 8%;
   
}

#skitser #lluvia p{
      top: 92.5%;
    left: 8%;
    
    
}

#skitser #ashe p{
    top: 92.5%;
    left: 8%;
}

#skitser #miss-fortune p{
    top: 92.5%;
    left: 8%;
}
      
    #skitser #janna p{
        top: 92.5%;
        left: 8%;
    }
    
    #skitser #pikaball p{
        top: 92.5%;
        left: 8%
    }
    
    #skitser #orianna p{
        top: 92.5%;
        left: 8%;
    }
    
    #skitser #cupcake p{
        top: 97.8%;
        left: 37.5%;
    }
  #skitser-footer img{
        top: 280%;
      position: absolute;
    }
    
  #myBtn {
      display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #565B5F;
  cursor: pointer;
  padding: 15px;

}

#myBtn:hover {
  background-color: #86A3B1;
}    
    
    i {
  border: solid #FEFFFE;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

    
    
/* SKILL BAR */
    
    #skills{
margin-top: 4%;
    }
    
    .ikoner{
        width: 10%;
        height: auto;
       
    }
    
    
    .kode-ikoner{
        width: 11%;
    }
    
    .baren{
        list-style: none;
        margin: 60px auto;
        display: flex;
        position: relative;
    }
    
    .baren li{
        width: 100%;
        margin: 20px 0px 20px 10px;
    }
    
    .bar{
        display: block;
        height: 20px;
        overflow: hidden;
        background: #FEFFFE;
        box-shadow: 0 0 5px #9A9A9A; 
                font-family: 'Quicksand', sans-serif;
    
        
    }
    
    .bar span{
        height: 100%;
        float: left;
        background: #86A3B1;
    
    }
    
    .block{
        display: block;
    }
    
    #block{
        padding-right: 5%;
    }
    
    .skill-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      
        
    }
    
    span p{
        color: #FEFFFE;
        padding-left: 2%;
    }
    
    #testflex{
        display: flex;
    }
    
    .xd{
        width: 90%;
        animation: xd 4s;
        animation-iteration-count: infinite;
    }
    
    
    #photoshop{
        width: 70%;
        animation: photoshop 4s;
        animation-iteration-count: infinite;

    }
    
    .kode{
        width: 80%;
        animation: kode 4s;
        animation-iteration-count: infinite;
    }
    
    #js{
        width: 45%;
        animation: js 4s;
        animation-iteration-count: infinite;
    }
    
    @keyframes xd{
        0%{
            width: 0%;
        }

        
        100%{
            width: 90%;
        }
    }
    

     @keyframes illu{
        0%{
            width: 0%;
        }
        
        100%{
            width: 90%;
        }
    }
    
    
     @keyframes photoshop{
        0%{
            width: 0%;
        }
        
        100%{
            width: 70%;
        }
    }
    
    @keyframes kode{
        0%{
            width: 0%;
        }
        
        100%{
            width:  80%;
        }
    }
    
    @keyframes js{
        0%{
            width: 0%;
        }
        
        100%{
           width:  45%;
        }
    }
    

    iframe{
      width: 50%;
        height: 400px;
        margin-top: 2%;
        margin-bottom: 2%;
    } 

    
/* OM MIG */    
    
    #udstilling{
        background-image: url(../images/logo-udstilling.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
     
        text-align: center;
        background-attachment: fixed;
        
    }  
    
    #udstilling h1{
        padding: 4% 0 10% 0%;
    }
    
    #udstilling p{
        padding-left: 7%;
        padding-right: 7%;
        color: #565B5F;
    }
    
    
    .no-padding{
        margin: 0;
        padding: 0;
    }
   
    .parralax{
        text-align: center;
        padding: 2%;
    }
    
    .parralax p{
        padding-left: 7%;
        padding-right: 7%;
        color: #FEFFFE;
        margin: 0;
    }
    
    #parralax1{
        background: rgba(65,115,103,0.8);

    }
    
    #parralax1 h2{
        margin-bottom: 1%;
   color: #FEFFFE;
    
}
     #parralax-baggrund{
        background-image: 
            url(../images/ux.jpg); 
       
    }
   
    
    .parralax-baggrund{
            background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        background-attachment: fixed;
        opacity: 0.8;
       
    }
    
    #parralax2{
        background: rgba(97,154,96,0.8);
    }
    
    #parralax2 h2{
        margin-bottom: 1%;
        color:#FEFFFE;
    }
    
    #parralax-baggrund2{
        /* source https://unsplash.com */
        
        background-image: url(../images/flyers.jpg);
    }
    
    #parralax3{
        background: rgba(86,91,95,0.8);
    
    }
    
    #parralax3 h2{ 
        margin-bottom: 1%;
        color: #FEFFFE;
    }
    
    #parralax-baggrund3{
        /* source https://unsplash.com/photos/a661056QDbc 
        
        */ 
        background-image:
            url(../images/keyboard.jpg);
    }
    
    #parralax3 a{
        color: #FEFFFE;
    }
   
    
    #ommig-footer{
        margin: 0;
    }
    
    #ommig-footer img {
        bottom: -432.5%;
        
    }
    
    
    /*  KONTAKT SIDEN  */
    
    
    #mig{
   	left: 59.5%;
        top: 7.9%;
	margin-left: -10vw;
	margin-right: -10vw;
	max-width: 50vw;
	position: absolute;
	right: 50%;
        width: 50vw;
    
    }
    
    #kontakt{
        background: #EBEBEB;
        text-align: center;
        padding: 4% 50% 8% 5%;     
    
    }


    #kontakt h1{
        margin: 2%;
    }
    
    #kontakt p{
        color: #565B5F;
    }
    
    #kontakt-footer{
      margin-top: 7.5%;
        
    }
    
    #kontakt-footer img{
        top: 101%;
       
    
    }
    
    #send{
       display: block;
        margin-top: 4%;
      

    }
    
  
 
    #kun-link a{
        font-family: 'Quicksand', sans-serif;
        color: #565B5F;
   
        
    }   
    
    .some-ikoner{
        width: 65px;
        height: auto;
        padding-right: 15%;
      
    }

    #some{
        margin-top: 7%;
        display: flex;
        justify-content: center;
        
       
    }
    
    /* PROJEKT SIDEN */
    
    .projekter{
        width: 260px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
    }
    
    .projekt-oversigt{
        display: block;
        
        
    }
    
    .projekt-oversigt h3{
        margin-bottom: 1%;
        margin-top: 2%;
    }
    
    .se-mere{
        background-color: #86A3B1;
        margin-top: 1.5%;
        width: 150px;
        text-align: center;
        padding: 0.5%;
margin-left: 4.5%;
        
      
    }
    
    
    .se-mere a{
        text-decoration: none;
    font-family: 'Quicksand', sans-serif;
        color: #FEFFFE;
       
    }
    
    
   
    
    #projekt-footer img{
        top: 144.5%;
    }
    
    
    /* bibapp */
    
    .bibapp{
        margin-top: 4%;
        
        
    }
    
    .bibapp section{
        margin-top: 1%;
        margin-bottom: 1%;
       
        
    }
    
    .info h3{
        margin-top: 2%;
        color: #565B5F;
    }
    
    #wireframes{
        width:50%;
      
        margin-left: 7.5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: rotate(90deg);
            
    }
    
    
    
    .info{
        grid-area: info;
    }
    
    .info p{
        color: #565B5F;
    }
    
    .case{
        background: #86A3B1;
        padding: 4%;
        height: 65%;
        grid-area: case;
    }
    
    .case, h3, p, li{
        color: #FEFFFE;
    }
    

    
    .intro{
        display: grid;
        grid-template-areas: 'info case'
    }
    
  
    
    .bibapp section li{
        font-family: 'Quicksand', sans-serif;
        line-height: 1.5em;
    }
    #maelgruppe{
        text-align: center;
    }
    
    .maelgruppe h3{
        margin-top: 4%;
        color:#565B5F;
    } 
    
    .maelgruppe p{
        color: #565B5F;
    }

    .persona{
        width: 500px;
        height: auto;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       margin-top: 1%;
    }
    
    #persona-1{
        margin-right: 4%;
    }
    
    #whiteboard{
        width: 100%;
        height: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 2%;
        margin-bottom: 2%;
    }
   
    #design-elementer{
        background-color: #fefffe;
        padding: 0;
    }
    
    #design-elementer h3{
        color: #565B5F;
        
    }
    
    #design-elementer p{
        color: #565B5F;
    }
    
    #styletile{
       
        margin-top: 2%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
        
    }
    
    #wire h3{
        margin: 0;
    }
    
    #step-2-3{
        margin-top: 4%;
        
    }
    
    #wire{
      padding-right: 20%;
    }
    

    .intro-billeder{
        width: 50%;
    }
    
    #first-intro{
        padding-right: 2%;
    }
    
   
    .maelgruppe a{
        color: #86A3B1;
    }
    
    .reol{
        width: 45%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    #reoler{
        display: flex;
        justify-content: space-between;
    }
    
    .maelgruppe iframe{
        align-content: center;
        text-align: center;
        height: 400px;
    }
    
    #bibapp-footer{
        margin: 0;
    }
    
    #bibapp-footer img{
        top: 546.5%;
    }

 /* ILLUSTRATION SIDEN */
    
    
    .illustrationer{
        display: flex;
        margin-top: 4%;
        justify-content: center;
    }
    
    .illustrationer img{
        width: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .illustrationer div{
        display: block;
        margin-left: 4%;
    }
    
    .illustrationer div h3{
    margin-bottom: 2%;
        color: #565B5F;
    }
    
    .illustrationer div p{
        color: #565B5F;
    }
    
    #illustrations-footer img{
        position: absolute;
        top: 109.5%;
    }   
    
  
    
}
  

    
    
    
    
    
    
    
    
    
    
    

